<div class="tasks">
    <form (submit)="addTodo()" >
    <input 
    type="text"
    name="inputtask"
    id="task"
    placeholder="Enter new task..."
    class="task-input"
    [(ngModel)]="inputtask"
   />

<input type="submit" value="Add Task" class="task-submit"  />
</form>
    <div *ngFor="let task of tasks; let i=index "  class="task {{(task.completed ? 'done' : '')}}" >
        <div class="id">{{i}}</div>
        <div class="content" (click)="toggleDone(i)">{{task.content}}</div>
        <button class="delete" (click)="deleteTodo(i)" style="color: red;font-weight:bolder;background-color: palevioletred;">Remove</button>
    </div>
</div>
<div class="created"><h4>Developed by... Dablu Paswan</h4></div>